* {
    box-sizing: border-box;
  }
  
.leaderboard {
    margin-left: 180px;
    margin-top: 20px;
}

.duration {
    margin-left: 180px;
    margin-bottom:20px;
}

.score {
    margin-left: 180px;
    margin-bottom:35px;
}

.profile {
    width:60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.boardbtn {
    margin-right: 8px;
    height: 30px;
    width: 100px;
    background-color: #0e6dfd; 
    border: none;
    text-align: center;
    cursor: pointer;
    color: #ffffff; 
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
}

.view {
    margin-left: 180px;
    margin-top: 10px;
}
.rewards {
    text-align: left;
    margin-left: 230px;
    margin-top: 40px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
}

.image {
    width: auto;
    height: 200px;
    left: 500px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    left: 50%;
}