/* CSS Styles for the leaderboard */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    height: "100px";
    margin-left: 180px;
  }

  .container {
    box-shadow: none;
  }
  
  .Item {
    display: flex;
    align-items: center;
    width: 50%;
  }
  
  .info {
    margin-left: 10px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .item span {
    font-size: 15px;
    color: #222222;
  }
  