* {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 30px;
  }
  
  .project-list {
    margin-bottom: 2rem;
    margin-left: 180px;
  }
  
  .column-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 180px;
  }
  
  .column {
    flex: 1;
    margin: 0 1.5rem;
    width: 300px;
    font-size: 18px;
    color: 'black';
  }
  
  .droppable-col {
    width: 100%;
    background-color: #f0f5ff;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
  }
  
  .item {
    margin-bottom: 10px;
    background-color: #c2cff2;
    color: #333333;
    border: 1px solid #b5d6fd;
    padding: 10px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
  }
  
  .item:hover {
    background-color: #a6b6e1;
  }
  
  .item.dragging {
    background-color: #ffcccc;
  }
  
  .desc {
    font-size: 14px;
    background-color: #dbc8e6;
    color: #555555;
    padding: 8px;
    border-radius: 4px;
  }
  
  p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  